/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Major+Mono+Display&family=Roboto+Mono:wght@200;400&display=swap');

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  max-width: 1366px;
  margin: 0 auto !important;
}
